
/* CSS PÁGINA INÍCIO */

/*======================================================CABEÇALHO=================================================================*/
.caixa-header{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 8px;

    background: #BBBBBB;
}

.logo{
    width: 250;
    height: 100px;
    filter: contrast(80%);
}

body{
    font-family: 'Montserrat', sans-serif;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a{
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}

nav a:hover{
    color: #C78C19;
    text-decoration: underline;
}

/*========================================================SOBRE==================================================================*/

#caixa-principal{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2em 2em 0em 2em;
}

.texto-principal{
    margin: 4em 3em 2em 3em;
    background: #FEFEFE;
    text-align: justify;
    line-height: 30px;
}

.titulo-principal{
    text-align: left;
    font-size: 2em;
    margin: 0 0 1em;
    clear: left;
}

.principal p{
    margin: 0 0 1em;
    letter-spacing: 3px;
}

.principal strong{
    font-weight: bold;
}

.principal em{
    font-weight: italic;
}

#missao{
    font-size: 18px;
}

.img1{
    box-sizing: border-box;
    margin: 3em 2em;
    
    opacity: 1;
    transition: 400ms;
    box-shadow: 15px 15px 15px 0 #191a0a63;
}

.img1:hover{
    opacity: 0.8;
}
/*==========================================================MAPA==================================================================*/

.caixa-mapa {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    padding: 2em 2em 0em 2em;
}

.texto-mapa{
    width: 600px;
    height: auto;
    margin: 3em 2em 2em 3em;

    display: flex;
    flex-direction: column;
    text-align: end;

    line-height: 30px;
}

.titulo-mapa{
    font-size: 2em;
    margin: 0 0 1em;
}

.conteudo-mapa {
    width: 800px;
    height: auto;
    margin: 2em 0em 2em 3em;
}

/*========================================================BENEFÍCIOS==============================================================*/

#caixa-beneficios {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
    padding: 2em 2em 0em 2em;
}

.texto-beneficios{
    flex-direction: column;
    justify-content: space-around;
    float: left;
    line-height: 30px;
}

.titulo-beneficios{
    font-size: 2em;
    margin: 0 0 1em;
}

.img2 {
    float: right;
    opacity: 1;
    transition: 400ms;
    box-shadow: 20px 20px 20px 0 grey;
}

.img2:hover{
    opacity: 0.8;
}

/*================================================================================================================================*/

.video {
    width: 800px;
    height: auto;
    padding: 2em 2em;
}

footer{
    text-align: center;
    padding: 25px 0;
}

/*================================================================================================================================*/

/* CSS PÁGINA SERVIÇOS */


.servicos{
	width: 940px;
    margin: 0 auto;
    padding: 35px 0 15px 0;
}

.servicos li{
	display: inline-block;
	text-align: center;
	width: 30%;
	vertical-align: top;
	margin: 0 1.5%;
	padding: 30px 20px;
	box-sizing: border-box;
	border: 2px solid #000000;
	border-radius: 10px;
}

.servicos li:hover{
	border-color: #C78C19;
    padding: 15px 10px;
}

.servicos li:active{
	border-color: #088C19;
}

.servicos li:hover h2{
	font-size: 33px;
}

.imgserv{
	width: 90%;
	padding: 10px;
}

.servicos h2{
	font-size: 25px;
	font-weight: bold;
}

.servicos-descricao{
	font-size: 15px;
    padding: 5px;
}

.orcamento{
	font-size: 18px;
	font-weight: bold;
	margin-top: 10px;
}


/* CSS PÁGINA DE CONTATO */


main {

}

.coluna{
    width: 1246.4px;
    margin: auto;
    column-count: 2;
    column-gap: 20px;
}

.ladoA{
    
}

.ladoB{
    
}

form {
    position: relative;
    margin: 20px 20px;
}

fieldset{
    margin-top: 20px;
}

form label, form legend {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.prefhor{
    margin-top: 20px;
}

.horario{
    font-size: 20px;
}

.input-padrao {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.enviar {
    width:40%;
    margin-top: 20px;
    padding: 15px 0;
    background: grey;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
}

.enviar:hover {
    background: darkgray;
    transform: scale(1.2);
}

table {
    margin: 30px 0 40px;
}

thead {
    background: #555555;
    color: white;
    font-weight: bold;
}

td, th {
    border: 1px solid #000000;
    padding: 8px 15px;
}

@media screen and (max-width: 480px) {
    .caixa, .logo, .principal, .conteudo-beneficios, .mapa-conteudo, .video {
        width: auto;
    }

    .principal{
        padding: 2em 15px;
        text-align: justify;
    }

    ul{
        text-align: center;
    }

    h1 {
        text-align: center;
    }

    nav {
        position: static;
    }

    .mapa{
        padding: 0em 0;
    }
    
    .beneficios{
        padding: 2em 0;
    }

    .lista-beneficios {
        width: 100%;
    }

    .sv{
        width: 100%;
        margin-bottom: 10%;
    }

    .sv2{
        width: 100%;
        margin-top: 25px;
        margin-right: 0;
        margin-bottom: 50px;
    }

}