



@media screen and (max-width: 480px) {
    .caixa, .logo, .principal, .conteudo-beneficios, .mapa-conteudo, .video {
        width: auto;
    }

    .principal{
        padding: 2em 15px;
        text-align: justify;
    }

    ul{
        text-align: center;
    }

    h1 {
        text-align: center;
    }

    nav {
        position: static;
    }

    .mapa{
        padding: 0em 0;
    }
    
    .beneficios{
        padding: 2em 0;
    }

    .lista-beneficios {
        width: 100%;
    }

    .sv{
        width: 100%;
        margin-bottom: 10%;
    }

    .sv2{
        width: 100%;
        margin-top: 25px;
        margin-right: 0;
        margin-bottom: 50px;
    }

}