.localizacao {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    padding: 1em 2em 1em 2em;
}

.mapa {
    height: 400px;
    margin: 1em 2em 1em 2em;
    width: 800px;
}